
body{
    background-color: white;
    margin: 0px;
}
div{
    white-space: pre-wrap;
    word-break: break-word;
}
h1{
    margin-left: 10%;
}
.App {
  font-family: Monospace;
}
.header{
    padding: 0px;
    margin: 0px;
    background-color:#A5DEE4;
    padding-left: 10px;
}
    .inputName{
        font-weight: bold;
        display: inline-block;
        font-size: 20px;
    }
    .editable{
        color: black;
    }
    .readonly{
        color: black;
        background-color: #A5DEE4;
        border: 0px;

    }
    .changeName{
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
    }
.footer{
    margin-top: 10px;
    height: 30vh;
    background-color: #A5DEE4; 
}
.inputBlock{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 200px;
}
    .inputTitle{
        margin-left: 0%;
        margin-bottom: 5px;
        width: 40%;
        min-width: 250px;
        display: block;
    }
    .inputText{
        width:60%;
        min-width: 400px;
        margin-left: 0%;
        margin-right: 40%;
        height: 100px;
        resize: none;
    }
    .sendButton{
        font-size: large;
        background-color: #3AAFB7;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all ease 0.3s;
    }
    .sendButton:active{
        font-size: large;
        background-color: #3A7FB7;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    
.commentList{
    width: 100%;
}
    .commentBlock{
        vertical-align: middle; 
        background-color: white;
        box-shadow: 0px 0px 3px;
        display: -webkit-flex;
            display: flex;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: auto;
        padding: 5px;
    }
        .name{
            padding-right: 5px;
            padding-left: 5px;
            -webkit-flex: none;
            flex: none;
            vertical-align: top;
            width: 150px;
            font-size: 25px;
            text-align: center;
        }
        .titleAndComment{
            position: relative;
            -webkit-flex: 4;
                flex: 4;
            width: 80%;
            font-size: 20px;
            min-height: 100px;
            padding-bottom: 50px;
        }
            .title{
                font-size: 20px;
                color: #3A8FB7;
                font-weight: bold;
            }
            .comment{
                font-size: 18px;
                color: black;
                max-height: 80%;
                margin-bottom: 10%;
            }
            .replyList{
                width: 100%;

            }
                .replyBlock{
                    box-shadow: 0px 0px 1px;
                    padding: 5px;
                    display: -webkit-flex;
                    display: flex;
                }
                    .replyName{
                        font-weight: bold;
                    }
                    .replyNameAndComment{
                        -webkit-flex: 5;
                            flex: 5;
                        font-size: 10px;
                    }
                    .replyTime{
                        -webkit-flex: 1;
                            flex: 1;
                        font-size: 10px;
                    }
            .replyButton{
                font-size: 15px;
                color: #3A8FB7;
                font-weight: bold;
                position: absolute;
                bottom: 10px;
                /*cursor: pointer;
                text-decoration: underline;*/
                
            }
            .replyCommentInputBlock{
                position: absolute;
                width: 100%;
                bottom: 0;
            }
                .replyCommentInputBlock div{
                    font-size: 10px;
                }
                .replyCommentInput{
                    font-size: 10px;
                    height: 15px;
                    width: 50%;
                    left: 0px;
                }
                .replyCommentInput:focus{
                    font-size: 10px;
                    height: 15px;
                    width: 50%;
                    left: 0px;
                }
            
        .time{
            -webkit-flex: 1;
            flex: 1;
            margin-bottom: auto;
        }

